
li#cloth{
    position:fixed;
}

li#cloth > ul{
    position:relative;
    left:-160px;
    transition-duration: 0.5s;
}


li#cloth:hover > ul{
    position:relative;
    left:0px;
}

a:hover{
    font-size:18px;
}

a{
    color:black;
    text-decoration-line: none;
}

a:visited{
    color:black;
    text-decoration-line: none;
}

body{
    height:2000px;
}